# --- PostgreSQL Database Settings (Local Container) ---
POSTGRES_USER=your_db_username
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=dynasty_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- Apache Airflow Settings (Local Web UI Login) ---
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW_ADMIN_USER=your_airflow_username
AIRFLOW_ADMIN_PASSWORD=your_airflow_password
AIRFLOW_ADMIN_EMAIL=your_email@example.com
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://your_db_username:your_db_password@postgres:5432/dynasty_db

# --- Pipeline Data Folder Paths ---
DATA_RAW_DIR=/opt/airflow/data/raw
DATA_STAGING_DIR=/opt/airflow/data/staging
DATA_CURATED_DIR=/opt/airflow/data/curated

# --- Data Sources & Validation Benchmarks ---
PRIMARY_HF_DATASET=https://huggingface.co/datasets/bettergovph/raw-philippine-data
SECONDARY_SOURCE_URL=https://robertrleung.github.io/OpenHalalan/#download
TERTIARY_SOURCE_URL=https://openstat.psa.gov.ph/PXWeb/api/v1/en/DB/1E/FY/0011E3DF010.px
HISTORICAL_ROSTER_URL=https://hrep-website.s3.ap-southeast-1.amazonaws.com/download/docs/roster-legislators.pdf
FAMILY_NETWORK_VALIDATION_URL=https://www.openicpsr.org/openicpsr/project/113048/version/V1/view
BENCHMARK_VALIDATION_URL=https://pcij.org/political-dynasties/
WIKIDATA_SPARQL_URL=https://query.wikidata.org/sparql